/* Initialized part */
.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* My css */
/* Setting Defaults */
* {
  background-color: hsla(0, 0%, 7.06%, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: hsla(0, 0%, 100%, 0.87);
  white-space: nowrap;
}

div {
  display: block;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  color: #6c63ff;
}

h4 {
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 400;
}

p {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.para-small {
  font-size: 14px;
  line-height: 21px;
}

a {
  text-decoration: none;
}

/* Navbar styling */

nav {
  position: relative;
  display: flex;
  align-items: center;
  background: #121212;
}

nav ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: auto !important;
  padding-inline-start: 40px;
  padding-right: 1em;
}

nav ul li {
  display: list-item;
  text-align: -webkit-match-parent;
  padding-right: 1em;
  padding-bottom: 0.8em;
}

nav ul li a {
  color: #ffffff !important;
}
nav ul li a:hover {
  font-weight: bold !important;
}
nav ul li a:focus {
  font-weight: bold !important;
}

.logo {
  font-family: Sacramento;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  padding-left: 30px;
}

/* Body Styling */

.bodybtn {
  margin-right: 1em;
  background: #7c7c7c;
  border-radius: 8px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 600;
  color: #000000;
}

.bodybtn:hover {
  background: #6c63ff;
  color: #000000 !important;
}

/* Restaurant & Notes Styling */

.filter-bar {
  margin-left: 15%;
}

.input {
  padding-left: 60px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 68px;
  background-color: #404040;
  border-radius: 5px;
  border-color: black;
  margin-top: 1vh;
}

.search_field .fa-magnifying-glass {
  width: 17px;
  height: 17px;
  position: absolute;
  background-color: #404040;
  margin-top: 20px;
  margin-left: 20px;
}

#opt {
  background: #404040;
  border: 2px !important;
  border-radius: 5px;
  width: 100%;
  border-color: black !important;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 68px;
  margin-top: 11px;
}

.btn-outline-searchbtn {
  background-color: #6c63ff;
  color: black;
  border-color: black;
  margin-top: 10px;
  font-size: 18px;
  width: 20%;
  height: 56%;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.card {
  background-color: #484444 !important;
  color: white;
  border-radius: 1.5vh;
}

.resultN,
.resultR {
  display: none;
}
